# MacOS related artifact.
.idea/
.DS_Store

# IDE related artifact.
*auto*.iml

# Build artifacts.
*/dependency-reduced-pom.xml
target/

# Metric reports.
metric-reports/

# Ruby related artifacts.
*.lock
*.gem

# Eclipse
.settings
.classpath
.project
*/.settings
*/.classpath
*/.project
/*/.settings
/*/.classpath
/*/.project
/*/bin

